body {
  font-size: 14px;
  line-height: 24px;
  background: #e5e5e5;
  font-style: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}

*::before,
*::after {
  box-sizing: border-box;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 80px; */
  width: 100%;
  background: #ffffff;
  padding: 30px 0;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  /* padding-left: 10px; */
}

.nav_link {
  color: #212121;
  margin-right: 2%;
  text-decoration: none;
  font-weight: 500;
}

.nav_link:hover {
  color: #2196f3;
}

/* .contact {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
} */

.phone {
  color: #757575;
  /* margin-left: 50px; */
}

@media (max-width: 670px) {
  .header__inner {
    flex-direction: column;
  }
}

/* Intro */
.intro {
  height: 600px;
  background: #2f303a;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro_title {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  margin: 0 0 30px 0;
}

.intro_btn {
  color: #ffffff;
  font-size: 16px;
  padding: 10px 32px;
  text-align: center;
  transition: 0.5s linear;
  border: 0;
  cursor: pointer;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.intro_btn:hover {
  background-color: rgb(148, 211, 148);
  color: black;
}

/* Features */
.features {
  display: flex;
  background: #ffffff;
}

.features_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 94px 0 94px 0;
}

.features_item {
  min-width: 170px;
  max-width: 270px;
  text-align: left;
  align-self: flex-start;
  margin: 0 15px 2% 15px;
}

.features_item:first-child {
  margin: 0 15px 2% 0;
}

.features_item:last-child {
  margin: 0 0 2% 15px;
}

.features_title {
  margin: 0 0 10px 0;
  font-weight: 700;
  text-transform: uppercase;
  color: #212121;
}

.features_text {
  line-height: 1.5;
  font-weight: 400;
  color: #757575;
  line-height: 24px;
}

@media (max-width: 1170px) {
  .features_container {
    justify-content: space-around;
  }

  .features_item:first-child,
  .features_item:last-child {
    margin: 0 15px 2% 15px;
  }
}
/* Works */
.works {
  display: flex;
  background: #ffffff;
}

.work__title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin: 0 0 50px 0;
  line-height: 42px;
  background: #ffffff;
}

.work__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 94px;
}

.work__img {
  margin-bottom: 2%;
}

@media (max-width: 1170px) {
  .work__item {
    justify-content: space-around;
  }
}

/* Team */
.team {
  display: flex;
  /* height: 648px; */
  background: #f5f4fa;
}

.team__title {
  text-align: center;
  justify-content: center;
  font-size: 36px;
  font-weight: 700;
  margin: 94px 0 50px 0;
  line-height: 42px;
}

.team_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0 94px 0;
}

.team_card {
  text-align: center;
  line-height: 19px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  height: 368px;
  width: 270px;
  margin-bottom: 2%;
}

.team_img {
  max-width: 100%;
}

.team_name {
  font-size: 16px;
  margin-top: 30px;
}

.team_job {
  color: #757575;
  margin-top: 10px;
}

@media (max-width: 1110px) {
  .team_inner {
    justify-content: space-around;
  }
}

/* Footer */
.footer {
  height: 252px;
  background: #2f303a;
}

.footer_img {
  margin: 60px 0 20px 0;
}

.adress {
  color: #ffffff;
  letter-spacing: 0.03em;
}

.footer_text {
  margin-top: 9px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 1170px) {
  .container {
    padding-left: 2%;
    padding-right: 2%;
  }
}
